.headers-text {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

.content {
   background-color: #FFF;
}

.link-active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset: 0.2em;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 90px 50px;
  line-height: 1.0;
  min-height: 105px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
  text-underline-offset: 0.2em;
  list-style-type: circle;
}

.no-bullit {
  list-style-type: none;
}

.header__logo {
  display: block;
  align-items: center;
}

.header__logo-image { 
  display: block;
  min-height: 105px;
  min-width: 140px;
}

.header__address {
   justify-self: end;
   max-width: 240px;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  padding: 100px 50px 0px;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

.cover__title {
  display: block;
  padding-top: 55px;
  line-height: 1.35;
  font-size: 100px;
}

.aligned-text {
  display: block;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  margin-right:-30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 96px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  color: #FFF;
  text-align: justify;
  word-spacing: 19px;
}

.bet-button {
  border: solid 1px white;
  padding: 10px 30px 10px 33px;
  outline: none;
  color: #FFF;
  font-size: 22px;
  line-height: 1.3;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 0px;
}

.lots__heading {
  padding-bottom: 26px;
  padding-left: 40px;
  color:#000;
  line-height: 1.2;
  font-size: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 25px;
  padding-left: 0;
  color: #F5F5F5;
  list-style: none;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 596px;
}

.lots__card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 0.15em;
  font-size: 22px;
}

.card__text {
  font-size: 20px;
}

.image-film {
  background-image: url("../images/card-lot-01.jpg");
}

.image-book {
  background-image: url("../images/card-lot-02.jpg");
}

.image-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: flex;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 0.25em;
  text-decoration-thickness: 0.5px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  padding: 155px 24px 180px;
  font-size: 22px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color:#000;
}

.about__column {
  justify-self: center;
}

.about__logo-image {
  width: 145px;
  margin: auto;
}

.about__title {
  padding: 100px 25px 90px;
  color:#000;
  font-weight: bold;
  font-size: 40px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding: 10px 25px 0px;
  color:#000;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  min-width: 100%;
  padding: 0px 50px 80px;
}

.footer__address {
  justify-self: left;
  max-width: 260px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  text-underline-offset: 0.2em;
}

.footer__social-list {
  display: flex;
  justify-self: right;
  gap:48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height:48px;
}