:root {
  --debug: 1px dashed red;
}


* {
  outline: var(-debug);
}

body {
  color: #000;
  font-size: 18px;
  background-color: #F5F5F5;
}

h1,
h2 {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

.content {
   background-color: #FFF;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 90px 50px;
  line-height: 1.0;
}

.header__links-list {
  display: flex; 
  column-gap: 35px;
  text-underline-offset: 0.2em;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 140px;
  height: 105px;
}

.header__logo-link {
  display: block;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  text-underline-offset: 0.2em;
}

.header__address {
   justify-self: end;
   max-width: 240px;
   line-height: 1.3;
}

.cover {
  position: relative;  
  z-index: 0;
  min-height: 757px;
  padding: 100px 50px 50px;
  background: url("../images/cover.jpg") center/cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(rgba(0, 0, 0, 0.6));
}

.cover__title {
  display: block; 
  padding-top: 55px;
  line-height: 135%; 
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px; 
}

.no-letter-spacing {
  margin-right:-30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 97px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  color: #FFF;
  text-align: justify;
  word-spacing: 19px;
}

.bet-button {
  border: solid 1px white;
  padding: 10px 30px;
  outline: none;
  color: #FFF;
  font-size: 22px;
  line-height: 135%;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 180px 24px 0px;
}

.lots__heading h2 {
  padding-bottom: 25px;
  padding-left: 40px;
  color:#000;
  line-height: 1.2;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 25px;
  padding-left: 0;
  color: #F5F5F5;
  list-style: none;
}

.lots__card-list-item a article {
  height: 100%;
}

.lots__card-link {
  text-underline-offset: 0.3em;
}

.card__title {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.lots__card-list-item {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  min-height: 596px;
  padding: 48px 40px;
}

.lots__card-list-item__image-01 {
  background: url("../images/card-lot-01.jpg") center/cover no-repeat;
}

.lots__card-list-item__image-02 {
  background: url("../images/card-lot-02.jpg") center/cover no-repeat;
}

.lots__card-list-item__image-03 {
  background: url("../images/card-lot-03.jpg") center/cover no-repeat;
}

.card {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: flex;
  margin-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 0.2em;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin-top: 120px;
  padding: 35px 24px 90px;
  font-size: 22px;
}

.about__column {
  justify-self: center;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color:#000;
}

.about__logo-image {
  width: 145px;
  margin: auto;
}

.about__title h2 {
  padding: 100px 25px 90px;
  color:#000;
  font-weight: bold;
  font-size: 40px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  padding: 10px 25px 0px;
  color:#000;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  min-width: 100%;
  min-height: 180px;
  padding: 90px 50px 0px;
}

.footer__address {
  justify-self: left;
  max-width: 260px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  line-height: 1.1;
  text-align: center;
}

.footer__menu-link {
  text-underline-offset: 0.2em;
}

.link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: right;
  gap:48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height:48px;
}